// Site-wide styles
.of-contain {
    object-fit: contain;
}

::selection {
    background: yellow;
}

pre {
  white-space: pre-wrap;
  font-family: $source-code-pro;
}

code {
  font-family: $source-code-pro;
}

